div .brand-logo {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.dropdown-content {
  position: inherit;
}

.dropdown-content li a {
  color: black;
}

ul.hide-on-med-and-down li {
  margin-right: 1rem;
}

div.sb-avatar:hover {
  cursor: pointer !important;
}

div.sb-avatar img:hover {
  height: 60px !important;
  width: 60px !important;
  transition: .2s !important;
  transform: translateX(-10px) translateY(-10px);
}

div.sb-avatar img {
  max-width: unset !important;
  transition: .4s !important;
}

nav ul a {
  padding: 0 0 0 0;
}