.loginBox {
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 1rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin: 10rem auto auto auto;
    width: 50%;
}
input.valid[type=email]:not(.browser-default){
    border-bottom: 1px solid #ee6d72;
    box-shadow: 0 1px 0 0 #ee6d72;
}

input[type=email]:not(.browser-default):focus:not([readonly])#TextInput-33{
    border-bottom: 1px solid #ee6d72;
    box-shadow: 0 1px 0 0 #ee6d72;
}
  
input[type=email]:not(.browser-default):focus:not([readonly])+label{
    color: #ee6d72;
}
input.valid[type=password]:not(.browser-default){
    border-bottom: 1px solid #ee6d72;
    box-shadow: 0 1px 0 0 #ee6d72;
}

input[type=password]:not(.browser-default):focus:not([readonly])#TextInput-33{
    border-bottom: 1px solid #ee6d72;
    box-shadow: 0 1px 0 0 #ee6d72;
}
  
input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: #ee6d72;
}
  
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ee6d72;
    box-shadow: 0 1px 0 0 #ee6d72;
}
  
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ee6d72;
}
  
input[type=email]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #ee6d72;
    box-shadow: 0 1px 0 0 #ee6d72;
}
input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #ee6d72;
    box-shadow: 0 1px 0 0 #ee6d72;
}