.formBox{
  padding: 1rem 5rem 5rem 5rem;
  margin-top: 2rem;
  border-color: #b7b7b7;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

div.file-field.input-field div.btn {
  background-color: #EE6D72
}

input.valid[type=text]:not(.browser-default){
  border-bottom: 1px solid #ee6d72;
  box-shadow: 0 1px 0 0 #ee6d72;
}

div.react-datepicker-wrapper{
  margin-top: 1rem;
}

input[type=text]:not(.browser-default):focus:not([readonly])#TextInput-33{
  border-bottom: 1px solid #ee6d72;
  box-shadow: 0 1px 0 0 #ee6d72;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
  color: #ee6d72;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ee6d72;
  box-shadow: 0 1px 0 0 #ee6d72;
}

textarea.materialize-textarea:focus:not([readonly])+label {
  color: #ee6d72;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #ee6d72;
  box-shadow: 0 1px 0 0 #ee6d72;
}

.progress .indeterminate {
    background-color: #ee6d72;
}
.progress  {
    background-color: white;
}

div.select-wrapper .dropdown-content {
  position: fixed;
}

.input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #ee6d72;
  border-bottom-color: #ee6d72;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #ee6d72;
}